body {
    background-color: lightblue;
    background-image: url(./Images/image.jpg);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(10, 10, 10);
    text-align: center;
  }

  body {
    background-color: rgb(143, 7, 7);
    padding: 10%;
    margin: 10%;
  }
  