
body {
  background-image:url(./Images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   padding:10px;
    margin: 20%;
  }
  
  h1 {
    color: rgb(18, 17, 17);
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(10, 10, 10);
    text-align: center;
  }
  .logo{
position:absolute;
    top: 40px;
    width:  300px;
    height: 200px;
    padding:5px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 70px;
  }
  .btn{
    background-color: rgb(7, 7, 73);
border-radius:2px;
padding:5px;
text-align: center;
text-decoration-color: darkgoldenrod;
font-size: medium;
display: inline-block;
  }
  h1,h2{
    text-align: center;
  }
  .Student-info{
 column-gap: 40px;
 column-count: 3;
  }
  .col-md-6 ,.col-12{
     display: flex;
  column-gap: 80px;
  }